<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página incial</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="center"><h1>Página incial</h1></div><br>
    <br>
    <div class="center"><a href="/mover">Mova o robô</a></div><br>
    <div class="center"><a href="/logs">Veja os logs</a></div><br>
    <div class="center"><a href="/home">Mova o robô para a posição inicial</a></div><br>
</body>
</html>